.card-wrapper{
    min-width: 30%;
    height: 31vh;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 0 7.5px 15px;
    overflow: hidden;
    width: 30vw;

    @media (max-width: 600px){
      width: 70%;
      
    }

    &:hover{
    
        & .background-img{
          transform: scale(1.1);
          transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }
        & .content{
          opacity: 0.9;
          padding: 0 25px;
          display: flex;
          flex-direction: column;
          border: 1px solid black;
          background-color: white;
          position: absolute;
          width: 25%;
        }
        & .description{
            display: block
        }
      }
}

.background-img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }

  .content {
    display: hidden;
    position: absolute;
  }

  .description{
      display: none;
  }